policy_module(enzo, 1.100.1)

########################################
#
# Declarations
#

type enzo_t;
type enzo_exec_t;
init_daemon_domain(enzo_t, enzo_exec_t)

permissive enzo_t;

type enzo_initrc_exec_t;
init_script_file(enzo_initrc_exec_t)

type enzo_conf_t;
files_type(enzo_conf_t)

type enzo_var_lib_t;
files_type(enzo_var_lib_t)

type enzo_var_run_t;
files_type(enzo_var_run_t)

type enzo_port_t;
corenet_port(enzo_port_t)

########################################
#
# enzo local policy
#
allow enzo_t self:process { fork };

allow enzo_t self:fifo_file rw_fifo_file_perms;
allow enzo_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(enzo_t, enzo_conf_t, enzo_conf_t)
manage_files_pattern(enzo_t, enzo_conf_t, enzo_conf_t)

manage_dirs_pattern(enzo_t, enzo_var_lib_t, enzo_var_lib_t)
manage_files_pattern(enzo_t, enzo_var_lib_t, enzo_var_lib_t)
files_var_lib_filetrans(enzo_t, enzo_var_lib_t, { dir file })

manage_dirs_pattern(enzo_t, enzo_var_run_t, enzo_var_run_t)
manage_files_pattern(enzo_t, enzo_var_run_t, enzo_var_run_t)

sysnet_dns_name_resolve(enzo_t)
corenet_all_recvfrom_unlabeled(enzo_t)

allow enzo_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(enzo_t)
corenet_tcp_sendrecv_generic_node(enzo_t)
corenet_tcp_sendrecv_all_ports(enzo_t)
corenet_tcp_bind_generic_node(enzo_t)

gen_require(`
    type enzo_port_t;
')
allow enzo_t enzo_port_t:tcp_socket name_bind;

gen_require(`
    type enzo_port_t;
')
allow enzo_t enzo_port_t:tcp_socket name_connect;

domain_use_interactive_fds(enzo_t)

files_read_etc_files(enzo_t)

miscfiles_read_localization(enzo_t)

sysnet_dns_name_resolve(enzo_t)

allow enzo_t enzo_exec_t:file execute_no_trans;
allow enzo_t self:process setsched;
corecmd_exec_ls(enzo_t)
corenet_tcp_connect_http_port(enzo_t)
dev_read_urand(enzo_t)
fs_getattr_xattr_fs(enzo_t)
kernel_read_system_state(enzo_t)
