# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=ENZO Daemon SNAP
Comment=testnet
GenericName=ENZO Digital Currency Daemon Client testnet network
Exec=enzo-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/enzo_testnet.png
MimeType=x-scheme-handler/enz;
Categories=X-Office;X-Finance;
Keywords=internet;enzo;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
